@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.ttf') format('truetype');
    font-family: 'Pixel';
    src: url("fontes/Pixel.ttf");
}

* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}


[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px; /*700*/
    width: 1200px; /*1200*/
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden;
}

.passaro {
    position: absolute;
    width: 100px;
    left: calc(50% - 30px);
}

.rival{
    position:absolute;
    width: 100px;
    left:calc(50%-30px);
}
.ferramenta{
    position:absolute;
    width: 50px;
    height: 50px;
    left:calc(50%-30px);
}
.obstaculo{
    position:absolute;
    width: 70px;
    height: 70px;
    left:calc(50%-30px);
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;
}

.barreira .corpo {
    height: 40px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 100;
}
.audio {
    width: 300px;
    margin: 0 auto;
  }

.gasolina{
    width: 300px;
    height: 20px;
    border-radius: 10px;
    background-color: #ccc;
}

.gasolina-nivel{
    height: 100%;
    border-radius: 10px;
    background-color: #A5E82E;
}